*{
    margin: 0;
}
.container_header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: #ffffff;
    height: 60px    ;
    font-family: "Poppins", sans-serif;
}
section div{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.container_logo{
    text-decoration: none ; 
    display: flex;
    gap: 1rem;
}
.Icon_logo{
    color: #00BD70;
    font-size: 1.4rem;
    transform: rotateZ(320deg);
}
.content_logo{
    color: #00BD70;
    box-sizing: border-box;

}

section .container_menu {
    display: flex;
    gap: 3rem;
}
.link_icon{
    padding: 0 .3rem;
}
.Menu_link{
    text-decoration: none;
    color: #62686e;

}
.menu_item{
    list-style: none;
}

ul{
    display: flex;
    gap: 2rem;
} 